@theme inline {
  --color-oxocarbon-dark-bg: oklch(from #161616 l c h);
  --color-oxocarbon-dark-bg-dark: oklch(from #131313 l c h);
  --color-oxocarbon-dark-bg-dark1: oklch(from #0b0b0b l c h);
  --color-oxocarbon-dark-bg-float: var(--color-oxocarbon-dark-bg-dark);
  --color-oxocarbon-dark-bg-highlight: oklch(from #262626 l c h);
  --color-oxocarbon-dark-bg-popup: var(--color-oxocarbon-dark-bg-dark);
  --color-oxocarbon-dark-bg-search: var(--color-oxocarbon-dark-blue0);
  --color-oxocarbon-dark-bg-sidebar: var(--color-oxocarbon-dark-bg-dark);
  --color-oxocarbon-dark-bg-statusline: var(--color-oxocarbon-dark-bg-dark);
  --color-oxocarbon-dark-bg-visual: oklch(from #393939 l c h);
  --color-oxocarbon-dark-black: oklch(from #262626 l c h);
  --color-oxocarbon-dark-black-bright: oklch(from #525252 l c h);
  --color-oxocarbon-dark-blue: oklch(from #78a9ff l c h);
  --color-oxocarbon-dark-blue-bright: oklch(from #78a9ff l c h);
  --color-oxocarbon-dark-blue0: oklch(from #2f3f5c l c h);
  --color-oxocarbon-dark-blue1: oklch(from #3ddbd9 l c h);
  --color-oxocarbon-dark-blue2: oklch(from #33b1ff l c h);
  --color-oxocarbon-dark-blue5: oklch(from #82cfff l c h);
  --color-oxocarbon-dark-blue6: oklch(from #82cfff l c h);
  --color-oxocarbon-dark-blue7: oklch(from #222a39 l c h);
  --color-oxocarbon-dark-border: var(--color-oxocarbon-dark-black);
  --color-oxocarbon-dark-border-highlight: oklch(from #393939 l c h);
  --color-oxocarbon-dark-comment: oklch(from #525252 l c h);
  --color-oxocarbon-dark-cyan: oklch(from #3ddbd9 l c h);
  --color-oxocarbon-dark-cyan-bright: oklch(from #08bdba l c h);
  --color-oxocarbon-dark-dark3: oklch(from #525252 l c h);
  --color-oxocarbon-dark-dark5: oklch(from #adadad l c h);
  --color-oxocarbon-dark-diff-add: oklch(from #122f2f l c h);
  --color-oxocarbon-dark-diff-change: oklch(from #222a39 l c h);
  --color-oxocarbon-dark-diff-delete: oklch(from #361c28 l c h);
  --color-oxocarbon-dark-diff-text: var(--color-oxocarbon-dark-blue7);
  --color-oxocarbon-dark-error: var(--color-oxocarbon-dark-red1);
  --color-oxocarbon-dark-fg: oklch(from #d0d0d0 l c h);
  --color-oxocarbon-dark-fg-dark: oklch(from #d0d0d0 l c h);
  --color-oxocarbon-dark-fg-float: var(--color-oxocarbon-dark-fg);
  --color-oxocarbon-dark-fg-gutter: oklch(from #393939 l c h);
  --color-oxocarbon-dark-fg-sidebar: var(--color-oxocarbon-dark-fg-dark);
  --color-oxocarbon-dark-git-add: oklch(from #08bdba l c h);
  --color-oxocarbon-dark-git-change: oklch(from #78a9ff l c h);
  --color-oxocarbon-dark-git-delete: oklch(from #ee5396 l c h);
  --color-oxocarbon-dark-git-ignore: var(--color-oxocarbon-dark-dark3);
  --color-oxocarbon-dark-green: oklch(from #42be65 l c h);
  --color-oxocarbon-dark-green-bright: oklch(from #be95ff l c h);
  --color-oxocarbon-dark-green1: oklch(from #08bdba l c h);
  --color-oxocarbon-dark-green2: oklch(from #08bdba l c h);
  --color-oxocarbon-dark-hint: var(--color-oxocarbon-dark-teal);
  --color-oxocarbon-dark-info: var(--color-oxocarbon-dark-blue2);
  --color-oxocarbon-dark-magenta: oklch(from #be95ff l c h);
  --color-oxocarbon-dark-magenta-bright: oklch(from #82cfff l c h);
  --color-oxocarbon-dark-magenta2: oklch(from #ee5396 l c h);
  --color-oxocarbon-dark-orange: oklch(from #ff7eb6 l c h);
  --color-oxocarbon-dark-purple: oklch(from #be95ff l c h);
  --color-oxocarbon-dark-rainbow1: var(--color-oxocarbon-dark-blue);
  --color-oxocarbon-dark-rainbow2: var(--color-oxocarbon-dark-yellow);
  --color-oxocarbon-dark-rainbow3: var(--color-oxocarbon-dark-green);
  --color-oxocarbon-dark-rainbow4: var(--color-oxocarbon-dark-teal);
  --color-oxocarbon-dark-rainbow5: var(--color-oxocarbon-dark-magenta);
  --color-oxocarbon-dark-rainbow6: var(--color-oxocarbon-dark-purple);
  --color-oxocarbon-dark-rainbow7: var(--color-oxocarbon-dark-orange);
  --color-oxocarbon-dark-rainbow8: var(--color-oxocarbon-dark-red);
  --color-oxocarbon-dark-red: oklch(from #ee5396 l c h);
  --color-oxocarbon-dark-red-bright: oklch(from #33b1ff l c h);
  --color-oxocarbon-dark-red1: oklch(from #ee5396 l c h);
  --color-oxocarbon-dark-teal: oklch(from #08bdba l c h);
  --color-oxocarbon-dark-todo: var(--color-oxocarbon-dark-blue);
  --color-oxocarbon-dark-warning: var(--color-oxocarbon-dark-yellow);
  --color-oxocarbon-dark-yellow: oklch(from #42be65 l c h);
  --color-oxocarbon-dark-yellow-bright: oklch(from #42be65 l c h);
}