@theme inline {
  --color-oxocarbon-light-bg: oklch(from #ffffff l c h);
  --color-oxocarbon-light-bg-dark: oklch(from #fafafa l c h);
  --color-oxocarbon-light-bg-dark1: oklch(from #e8e8e8 l c h);
  --color-oxocarbon-light-bg-float: var(--color-oxocarbon-light-bg-dark);
  --color-oxocarbon-light-bg-highlight: oklch(from #f2f2f2 l c h);
  --color-oxocarbon-light-bg-popup: var(--color-oxocarbon-light-bg-dark);
  --color-oxocarbon-light-bg-search: var(--color-oxocarbon-light-blue0);
  --color-oxocarbon-light-bg-sidebar: var(--color-oxocarbon-light-bg-dark);
  --color-oxocarbon-light-bg-statusline: var(--color-oxocarbon-light-bg-dark);
  --color-oxocarbon-light-bg-visual: oklch(from #d0d0d0 l c h);
  --color-oxocarbon-light-black: oklch(from #f2f2f2 l c h);
  --color-oxocarbon-light-black-bright: oklch(from #161616 l c h);
  --color-oxocarbon-light-blue: oklch(from #0f62fe l c h);
  --color-oxocarbon-light-blue-bright: oklch(from #ee5396 l c h);
  --color-oxocarbon-light-blue0: oklch(from #c6d7fe l c h);
  --color-oxocarbon-light-blue1: oklch(from #0f62fe l c h);
  --color-oxocarbon-light-blue2: oklch(from #0f62fe l c h);
  --color-oxocarbon-light-blue5: oklch(from #0f62fe l c h);
  --color-oxocarbon-light-blue6: oklch(from #08bdba l c h);
  --color-oxocarbon-light-blue7: oklch(from #dfe8ff l c h);
  --color-oxocarbon-light-border: var(--color-oxocarbon-light-black);
  --color-oxocarbon-light-border-highlight: oklch(from #d0d0d0 l c h);
  --color-oxocarbon-light-comment: oklch(from #90a4ae l c h);
  --color-oxocarbon-light-cyan: oklch(from #08bdba l c h);
  --color-oxocarbon-light-cyan-bright: oklch(from #08bdba l c h);
  --color-oxocarbon-light-dark3: oklch(from #90a4ae l c h);
  --color-oxocarbon-light-dark5: oklch(from #6f7f86 l c h);
  --color-oxocarbon-light-diff-add: oklch(from #cef2f1 l c h);
  --color-oxocarbon-light-diff-change: oklch(from #e7efff l c h);
  --color-oxocarbon-light-diff-delete: oklch(from #fcddea l c h);
  --color-oxocarbon-light-diff-text: var(--color-oxocarbon-light-blue7);
  --color-oxocarbon-light-error: var(--color-oxocarbon-light-red1);
  --color-oxocarbon-light-fg: oklch(from #37474f l c h);
  --color-oxocarbon-light-fg-dark: oklch(from #37474f l c h);
  --color-oxocarbon-light-fg-float: var(--color-oxocarbon-light-fg);
  --color-oxocarbon-light-fg-gutter: oklch(from #d0d0d0 l c h);
  --color-oxocarbon-light-fg-sidebar: var(--color-oxocarbon-light-fg-dark);
  --color-oxocarbon-light-git-add: oklch(from #08bdba l c h);
  --color-oxocarbon-light-git-change: oklch(from #ee5396 l c h);
  --color-oxocarbon-light-git-delete: oklch(from #ff6f00 l c h);
  --color-oxocarbon-light-git-ignore: var(--color-oxocarbon-light-dark3);
  --color-oxocarbon-light-green: oklch(from #42be65 l c h);
  --color-oxocarbon-light-green-bright: oklch(from #be95ff l c h);
  --color-oxocarbon-light-green1: oklch(from #08bdba l c h);
  --color-oxocarbon-light-green2: oklch(from #08bdba l c h);
  --color-oxocarbon-light-hint: var(--color-oxocarbon-light-teal);
  --color-oxocarbon-light-info: var(--color-oxocarbon-light-blue2);
  --color-oxocarbon-light-magenta: oklch(from #673ab7 l c h);
  --color-oxocarbon-light-magenta-bright: oklch(from #ffab91 l c h);
  --color-oxocarbon-light-magenta2: oklch(from #ee5396 l c h);
  --color-oxocarbon-light-orange: oklch(from #ff6f00 l c h);
  --color-oxocarbon-light-purple: oklch(from #be95ff l c h);
  --color-oxocarbon-light-rainbow1: var(--color-oxocarbon-light-blue);
  --color-oxocarbon-light-rainbow2: var(--color-oxocarbon-light-yellow);
  --color-oxocarbon-light-rainbow3: var(--color-oxocarbon-light-green);
  --color-oxocarbon-light-rainbow4: var(--color-oxocarbon-light-teal);
  --color-oxocarbon-light-rainbow5: var(--color-oxocarbon-light-magenta);
  --color-oxocarbon-light-rainbow6: var(--color-oxocarbon-light-purple);
  --color-oxocarbon-light-rainbow7: var(--color-oxocarbon-light-orange);
  --color-oxocarbon-light-rainbow8: var(--color-oxocarbon-light-red);
  --color-oxocarbon-light-red: oklch(from #ee5396 l c h);
  --color-oxocarbon-light-red-bright: oklch(from #0f62fe l c h);
  --color-oxocarbon-light-red1: oklch(from #ee5396 l c h);
  --color-oxocarbon-light-teal: oklch(from #08bdba l c h);
  --color-oxocarbon-light-todo: var(--color-oxocarbon-light-blue);
  --color-oxocarbon-light-warning: var(--color-oxocarbon-light-yellow);
  --color-oxocarbon-light-yellow: oklch(from #ff6f00 l c h);
  --color-oxocarbon-light-yellow-bright: oklch(from #42be65 l c h);
}