(
  selected_tab: Some("#673ab7"),
  command_fg: Some("#90a4ae"),
  selection_bg: Some("#f2f2f2"),
  selection_fg: Some("#08bdba"),
  cmdbar_bg: Some("#ffffff"),
  cmdbar_extra_lines_bg: Some("#ffffff"),
  disabled_fg: Some("#90a4ae"),
  diff_line_add: Some("#42be65"),
  diff_line_delete: Some("#ee5396"),
  diff_file_added: Some("#08bdba"),
  diff_file_removed: Some("#ee5396"),
  diff_file_moved: Some("#ee5396"),
  diff_file_modified: Some("#ff6f00"),
  commit_hash: Some("#673ab7"),
  commit_time: Some("#08bdba"),
  commit_author: Some("#42be65"),
  danger_fg: Some("#ee5396"),
  push_gauge_bg: Some("#ffffff"),
  push_gauge_fg: Some("#37474f"),
  tag_fg: Some("#ee5396"),
  branch_fg: Some("#ff6f00")
)
